:root {
  --color-1: #1877f2;
  --color-2: #f0f2f5;
  --color-3: #606770;
  --color-4: #ccd0d5;
  --color-5: #165dbb;
  --color-6: #052652;
  --color-shadow-1: rgba(0, 0, 0, 0.1);
  background-color: #f0f2f5;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.job-card {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    height: 200px; /* Fixed height for all cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Align content and button */
    overflow-y: auto; /* Enable vertical scrolling for overflow */
}

.job-card img {
    display: inline-block;
    margin: 0;
    max-width: 20px;
    height: 20px;
}

.job-card .company-name {
    font-weight: bold; /* Make company name bold */
}

.job-card .location {
    margin-top: 8px; /* Add separation between company name and location */
    display: block; /* Ensure it appears on a new line */
}
